* {
  margin: 0;
  padding: 0;
}
/* header */
.header {
  display: flex;
  min-height: 100px;
  background-color: rgb(67, 67, 234);
  color: white;
  align-items: center;
  justify-content: space-between;
}

.header .header-text {
  margin-left: 5%;
}

.header ul {
  position: relative;
  right: 50px;
  display: flex;
  margin-left: 55px;
  list-style: none;
  font-size: 30px;
}
.header ul li {
  margin-right: 40px;
}

.header ul li a {
  text-decoration: none;
  color: white;
}

/* about me */

.wrapper {
  min-height: 100%;
  position: relative;
}

.container-about {
  margin: 0 auto;
  width: 70%;
}

.title {
  margin-top: 40px;
  font-size: 30px;
}

.container-about p {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 25px;
}

/* footer */

.footer {
  display: flex;
  position: fixed;
  margin-top: 25px;
  width: 100%;
  bottom: 0;
  min-height: 55px;
  background-color: rgb(67, 67, 234);
  justify-content: center;
  align-items: center;
}

.footer .git-ico {
  height: 40px;
  width: 40px;
  margin: 0 10px 0 10px;
  background: url("./img/git-ico.png") center / cover no-repeat;
}

.footer .linkedin-ico {
  height: 40px;
  width: 40px;
  margin: 0 10px 0 10px;
  background: url("./img/linkedin-ico.png") center / cover no-repeat;
}
  

/* portfolio */

.container-portfolio {
  margin: 0 auto;
  width: 70%;
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: flex;
  height: 300px;
  width: 400px;
  margin: 35px;
  border-radius: 25px;
  border: 3px solid  rgb(67, 67, 234);
  justify-content: center;
  align-items:center;
}

.box:hover > .box-git{
  opacity: 1;
  transition: 1s;
}

.box-git {
  position: absolute;
  display: flex;
  height: 200px;
  width: 200px;
  background-color: rgb(67, 67, 234);
  border-radius: 100%;
  border: 2px solid white;
  justify-content: center;
  align-items:center;
  opacity: 0;
  transition: 1s;
  font-size: 30px;

}

.box-git span {
  color: white;
  font-weight: bolder;
}

.box-git a {
  text-decoration: none;
}

.box_1 {
  background: url("./img/travel-app.png") center / cover no-repeat;
}
.box_2 {
  background: url("./img/project2.png") center / cover no-repeat;
}

.box_text_wrapper {
  position: relative;
  right: 100px;
  top: 70px;
  height: 50px;
  width: 200px;
  background-color:white;
  border: 3px solid rgb(67, 67, 234);
  text-align: center;
  justify-content: center;
  border-radius: 0 25px 25px 0;
}

.box_text {
  color: rgb(67, 67, 234);
  margin-top: 15px;
  font-weight: bold;
}

/* contact */

.container-contact {
  margin: 0 auto;
  width: 70%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  margin-top: 25px;
  padding-left: 20px;
  width: 350px;
  height: 50px;
  font-size: 16px;
}

.contact-form textarea {
  margin-top: 25px;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 16px;
  height: 300px;
  width: 500px;
}

.contact-form button {
  margin-top: 25px;
  height: 40px;
  width:  100px;
}

/* resume  */

.container-resume {
  margin: 0 auto;
  width: 70%;
}

.container-portfolio .download {
  margin-top: 25px;
  font-size: 18px;
}

.container-portfolio .download a {
  color: black;
  text-decoration: none;
}

.container-portfolio .download a:hover {
  color: rgb(67, 67, 234);
}

.container-portfolio h3 {
  margin-top: 25px;
  font-size: 22px;
}

.container-portfolio ul {
  margin-top: 25px;
  margin-left: 35px;
  font-size: 22px;
}